.oojsplus-data-gridWidget {
	background-color: white;
	padding: 10px;
	position: relative;
	.oojsplus-data-gridWidget-table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		.oojsplus-data-gridWidget-row {
			.oojsplus-data-gridWidget-cell {
				border: 1px solid transparent;
				padding-left: 5px;
				padding-right: 5px;
				.boolean-cell {
					min-width: 20px;
				}
				&.oojsplus-data-gridWidget-column-header {
					.oo-ui-buttonWidget a {
						color: grey !important;
					}
				}
			}
			&.row-selected td {
				background-color: #e3e3e3 !important;
			}
		}
		.oojsplus-data-gridWidget-header {
			tr th {
				.oo-ui-labelWidget {
					font-weight: bold;
				}
				position: relative;
				background-color: transparent !important;
				border-bottom: 1px solid #e3e3e3;
				padding-left: 5px;
				padding-right: 5px;
				border-right: 1px solid #e3e3e3 !important;
				&:last-of-type {
					border-right: none !important;
				}
				.header-button {
					font-size: 1.1em;
				}
				.filter-button {
					position: absolute;
					top: 3px;
					right: 0;
				}
			}
		}
		&.style-differentiate-rows {
			.oojsplus-data-gridWidget-row {
				&:nth-child(odd) td {
					background-color: #e3e3e3;
				}
				&.row-selected td {
					background-color: #a5a5a5 !important;
				}
			}
		}
		&.border-all {
			border: 1px solid #e3e3e3 !important;
			th, td {
				border: 1px solid #e3e3e3 !important;
			}
		}
		&.border-vertical {
			th, td {
				border-left: 1px solid #e3e3e3 !important;
				border-right: 1px solid #e3e3e3 !important;
			}
		}
		&.border-horizontal {
			td {
				border-top: 1px solid #e3e3e3 !important;
				border-bottom: 1px solid #e3e3e3 !important;
			}
		}
	}
	.grid-loading-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #ffffffa3;
		.oo-ui-progressBarWidget {
			margin: auto;
		}
	}
}

.grid-filter-popup-head {
	padding-top: 5px;
	.oo-ui-buttonWidget{
		float: right;
		margin: 0;
		a {
			padding: 0 !important;
		}
	}
}

.oojsplus-data-gridWidget-popup-list {
	list-style-type: none;
	margin-left: 0;
}
