.oojsplus-data-toolbar {
	padding: 5px;
	position: relative;
	height: 46px;
	border-top: 1px solid #e3e3e3;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.oojsplus-data-paginator {
		flex-grow: 1;
	}

	.static-controls {
		text-align: right;

		.oo-ui-labelWidget {
			&.row-count {
				border: 1px solid #939393;
				padding: 3px 10px 3px 10px;
				border-radius: 26px;
			}
		}

		> .oo-ui-buttonElement-frameless > .oo-ui-buttonElement-button {
			&:hover {
				background-color: transparent;
			}
		}
	}

	label {
		font-size: 0.9em;
	}

	.current-entries-visible {
		color: #747474;
	}
}
