.oojsplus-data-toolbar {
	background-color: #f8f8f8;
	padding: 5px;
	position: relative;
	height: 46px;
	border-top: 1px solid #b3b3b3;
	.static-controls {
		position: absolute;
		top: 7px;
		right: 20px;
		.oo-ui-labelWidget {
			&.row-count {
				border: 1px solid #939393;
				padding: 3px 10px 3px 10px;
				border-radius: 26px;
			}
		}
	}

}
