.oo-ui-icon-cellBorderRound {
	/* @embed */
	background-image: url( ../images/icons/borders/round.svg );
}

.oo-ui-icon-cellBorderWidthGroup {
	/* @embed */
	background-image: url( ../images/icons/borders/widthgroup.svg );
}

.oo-ui-icon-cellBorderStyleGroup {
	/* @embed */
	background-image: url( ../images/icons/borders/stylegroup.svg );
}

.oo-ui-icon-cellBorderAll {
	/* @embed */
	background-image: url( ../images/icons/borders/all.svg );
}

.oo-ui-icon-cellBorderBottom {
	/* @embed */
	background-image: url( ../images/icons/borders/bottom.svg );
}

.oo-ui-icon-cellBorderTop {
	/* @embed */
	background-image: url( ../images/icons/borders/top.svg );
}

.oo-ui-icon-cellBorderLeft {
	/* @embed */
	background-image: url( ../images/icons/borders/left.svg );
}

.oo-ui-icon-cellBorderRight {
	/* @embed */
	background-image: url( ../images/icons/borders/right.svg );
}

.oo-ui-icon-cellBorderLeftRight {
	/* @embed */
	background-image: url( ../images/icons/borders/leftright.svg );
}

.oo-ui-icon-cellBorderTopBottom {
	/* @embed */
	background-image: url( ../images/icons/borders/topbottom.svg );
}

.oo-ui-icon-cellBorderHorizontal {
	/* @embed */
	background-image: url( ../images/icons/borders/horizontal.svg );
}

.oo-ui-icon-cellBorderVertical {
	/* @embed */
	background-image: url( ../images/icons/borders/vertical.svg );
}

.oo-ui-icon-cellBorderRoundHorizontal {
	/* @embed */
	background-image: url( ../images/icons/borders/roundhorizontal.svg );
}

.oo-ui-icon-cellBorderRoundVertical {
	/* @embed */
	background-image: url( ../images/icons/borders/roundvertical.svg );
}

.oo-ui-icon-cellBorderNone {
	/* @embed */
	background-image: url( ../images/icons/borders/none.svg );
}

.oo-ui-icon-cellBorderWidth1 {
	/* @embed */
	background-image: url( ../images/icons/borders/width1.svg );
}

.oo-ui-icon-cellBorderWidth2 {
	/* @embed */
	background-image: url( ../images/icons/borders/width2.svg );
}

.oo-ui-icon-cellBorderWidth3 {
	/* @embed */
	background-image: url( ../images/icons/borders/width3.svg );
}

.oo-ui-icon-cellBorderWidth4 {
	/* @embed */
	background-image: url( ../images/icons/borders/width4.svg );
}

.oo-ui-icon-cellBorderStyleDashed {
	/* @embed */
	background-image: url( ../images/icons/borders/dashed.svg );
}

.oo-ui-icon-cellBorderStyleDotted {
	/* @embed */
	background-image: url( ../images/icons/borders/dotted.svg );
}

.oo-ui-icon-cellBorderStyleDouble {
	/* @embed */
	background-image: url( ../images/icons/borders/double.svg );
}

.oo-ui-icon-cellBorderColor {
	/* @embed */
	background-image: url( ../images/icons/borders/color.svg );
}

.oo-ui-icon-alignCenter {
	/* @embed */
	background-image: url( ../images/icons/align-center.svg );
}

.oo-ui-icon-color-check {
	/* @embed */
	background-image: url( ../images/icons/tick.png );
}

.oo-ui-icon-color-cross {
	/* @embed */
	background-image: url( ../images/icons/cross.png );
}
