<div>
	<div class="oojs-skeleton--booklet-toolbar ">
		<div class="oojs-skeleton--booklet-element left"></div>
		<div class="right">
			<div class="oojs-skeleton--booklet-element"></div>
			<div class="oojs-skeleton--booklet-element"></div>
		</div>
	</div>

	<div class="oojs-skeleton--booklet-search" style="text-align: center;">
		<div class="oojs-skeleton--booklet-element input" style="width: 50%; margin: 0 auto;"></div>
	</div>

	<div class="oojs-skeleton--booklet-cnt">
		<div class="oojs-skeleton--booklet-menu oojs-skeleton--booklet-column">
			<div class="oojs-skeleton--booklet-element" style="width: 80%;"></div>
			<div class="oojs-skeleton--booklet-element" style="width: 60%;"></div>
			<div class="oojs-skeleton--booklet-element" style="width: 80%;"></div>
			<div class="oojs-skeleton--booklet-element" style="width: 80%;"></div>
			<div class="oojs-skeleton--booklet-element" style="width: 60%;"></div>
			<div class="oojs-skeleton--booklet-element" style="width: 80%;"></div>
		</div>

		<div class="oojs-skeleton--booklet-content oojs-skeleton--booklet-column">
			<div class="oojs-skeleton--booklet-content-box">
				<div class="oojs-skeleton--booklet-element title" style="width: 40%;"></div>
				<div class="oojs-skeleton--booklet-element medium" style="width: 20%;"></div>
				<div class="oojs-skeleton--booklet-element input"></div>
				<div class="oojs-skeleton--booklet-element small"></div>
			</div>
			<div class="oojs-skeleton--booklet-content-box">
				<div class="oojs-skeleton--booklet-element large" style="width: 35%;"></div>
				<div class="oojs-skeleton--booklet-element medium" style="width: 50%;"></div>
				<div class="oojs-skeleton--booklet-element input"></div>
				<div class="oojs-skeleton--booklet-element small"></div>
			</div>
			<div class="config-box">
				<div class="oojs-skeleton--booklet-element title" style="width: 40%;"></div>
				<div class="oojs-skeleton--booklet-element medium" style="width: 20%;"></div>
				<div class="oojs-skeleton--booklet-element input"></div>
				<div class="oojs-skeleton--booklet-element small"></div>
			</div>
		</div>
	</div>
</div>
