<div class="oojs-skeleton oojs-skeleton--cards">
	<div class="oojs-skeleton--toolbar"></div>

	<div class="oojs-skeleton--cards-cnt">
		<div class="oojs-skeleton--card">
			<div class="oojs-skeleton--card-title"></div>
			<div class="oojs-skeleton--card-desc"></div>
		</div>
		<div class="oojs-skeleton--card">
			<div class="oojs-skeleton--card-title"></div>
			<div class="oojs-skeleton--card-desc"></div>
		</div>
		<div class="oojs-skeleton--card">
			<div class="oojs-skeleton--card-title"></div>
			<div class="oojs-skeleton--card-desc"></div>
		</div>
		<div class="oojs-skeleton--card">
			<div class="oojs-skeleton--card-title"></div>
			<div class="oojs-skeleton--card-desc"></div>
		</div>
		<div class="oojs-skeleton--card">
			<div class="oojs-skeleton--card-title"></div>
			<div class="oojs-skeleton--card-desc"></div>
		</div>
		<div class="oojs-skeleton--card">
			<div class="oojs-skeleton--card-title"></div>
			<div class="oojs-skeleton--card-desc"></div>
		</div>
		<div class="oojs-skeleton--card">
			<div class="oojs-skeleton--card-title"></div>
			<div class="oojs-skeleton--card-desc"></div>
		</div>
	</div>
</div>