<div class="oojs-skeleton oojs-skeleton--grid">
	<div class="oojs-skeleton--table">
		<div class="oojs-skeleton--table-head">
			<div class="oojs-skeleton--row">
				<div class="oojs-skeleton--cell"></div>
				<div class="oojs-skeleton--cell"></div>
				<div class="oojs-skeleton--cell"></div>
				<div class="oojs-skeleton--cell"></div>
			</div>
		</div>
		<div class="oojs-skeleton--table-body">
			<div class="oojs-skeleton--row">
				<div class="oojs-skeleton--cell"></div>
				<div class="oojs-skeleton--cell"></div>
				<div class="oojs-skeleton--cell"></div>
				<div class="oojs-skeleton--cell"></div>
			</div>
			<div class="oojs-skeleton--row">
				<div class="oojs-skeleton--cell"></div>
				<div class="oojs-skeleton--cell"></div>
				<div class="oojs-skeleton--cell"></div>
				<div class="oojs-skeleton--cell"></div>
			</div>
			<div class="oojs-skeleton--row">
				<div class="oojs-skeleton--cell"></div>
				<div class="oojs-skeleton--cell"></div>
				<div class="oojs-skeleton--cell"></div>
				<div class="oojs-skeleton--cell"></div>
			</div>
			<div class="oojs-skeleton--row">
				<div class="oojs-skeleton--cell"></div>
				<div class="oojs-skeleton--cell"></div>
				<div class="oojs-skeleton--cell"></div>
				<div class="oojs-skeleton--cell"></div>
			</div>
		</div>
	</div>
	<div class="oojs-skeleton--toolbar">
		<div class="oojs-skeleton--toolbar-btn"></div>
		<div class="oojs-skeleton--toolbar-btn"></div>
		<div class="oojs-skeleton--toolbar-btn"></div>
		<div class="oojs-skeleton--toolbar-btn"></div>
	</div>
</div>