<div class="oojs-skeleton oojs-skeleton--tree-cnt">
	<div class="oojs-skeleton--tree">
		<div class="oojs-skeleton--tree-item">
			<div class="oojs-skeleton--tree-line"></div>
			<div class="oojs-skeleton--tree">
				<div class="oojs-skeleton--tree-item">
					<div class="oojs-skeleton--tree-line"></div>
					<div class="oojs-skeleton--tree">
						<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
							<div class="oojs-skeleton--tree-line"></div>
						</div>
						<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
							<div class="oojs-skeleton--tree-line"></div>
						</div>
					</div>
				</div>
				<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
					<div class="oojs-skeleton--tree-line"></div>
				</div>
				<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
					<div class="oojs-skeleton--tree-line"></div>
				</div>
				<div class="oojs-skeleton--tree-item">
					<div class="oojs-skeleton--tree-line"></div>
					<div class="oojs-skeleton--tree">
						<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
							<div class="oojs-skeleton--tree-line"></div>
						</div>
						<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
							<div class="oojs-skeleton--tree-line"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
			<div class="oojs-skeleton--tree-line"></div>
		</div>
		<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
			<div class="oojs-skeleton--tree-line"></div>
		</div>
	</div>
</div>